/* .energy-icon-container {
    display: flex;
    align-items: center;
  }
  
  .energy-icon {
    width: 17px; 
    margin-right: 10px; 
  }
  

  

.sidebar {
    display: flex;
    height: 100vh;
    overflow: scroll initial;
  }
  
  .sidebar-header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .sidebar-content {
    flex-grow: 1;
    padding: 15px;
  }
  
  .sidebar-menu-item {
    margin-bottom: 10px;
  }
  
  .energy-icon-container {
    display: flex;
    align-items: center;
  }
  
  .energy-icon {
    width: 17px;
    margin-right: 10px;
  }
  
  .energy-text {
    color: white;
  }
  
  @media screen and (max-width: 768px) {
    .sidebar {
      flex-direction: column;
    }
    
    .sidebar-content {
      padding: 15px;
    }
  }
  


  
.energy-text {
    position: relative;
  }
  
  .energy-text::after {
    content: "▼"; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
  }
  
  .energy-text:hover::after,
  .energy-text:focus::after {
    content: "▲"; 
  }
  
  .energy-text select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .energy-text::after {
    content: "▼";
  }
  
  .energy-text:hover::after,
  .energy-text:focus::after {
    content: "▲";
  }
  
  .energy-text select:focus + ::after {
    content: "▲";
  }
   */
  /* .energy-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    display: none;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .energy-text:focus + .energy-dropdown,
  .energy-text:hover + .energy-dropdown {
    display: block;
  } */
/* Add your existing styles if any */

.energy-dropdownn {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  border: 1px solid black;
  background-color:black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.energy-dropdownn select {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.energy-dropdownn select option {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.energy-dropdownn select option:hover {
  background-color:black;
}
